/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */
#main-window {
  background: transparent !important;
}

#TabsToolbar,
.table-widget-empty-text {
  -moz-appearance: -moz-mac-vibrant-titlebar-light;
}

#TabsToolbar[brighttext],
.table-widget-empty-text[brighttext] {
  -moz-appearance: -moz-mac-vibrant-titlebar-dark !important;
}

.tabbrowser-tab[selected='true'] .tab-label[brighttext] {
  color: white !important;
}

.tabbrowser-tab .tab-label[brighttext] {
  color: rgba(255, 255, 255, 0.7) !important;
}

.tabbrowser-tab[selected='true'] .tab-background[brighttext] {
  box-shadow: inset 0em -4em 0em var(--toolbar-bgcolor) !important;
}

#navigator-toolbox {
  background-color: transparent !important;
}
