:root #navigator-toolbox {
  background-color: transparent !important;
}

:root[lwthemetextcolor='bright'] #navigator-toolbox {
  background-image: linear-gradient(
    to top,
    hsla(280, 6%, 40%, 0.8) 0%,
    hsla(280, 6%, 40%, 0.6) 46%,
    hsla(280, 30%, 10%, 0.3) 46%,
    hsla(280, 30%, 10%, 0.3) 65%
  ) !important;
}
:root[lwthemetextcolor='bright'] #navigator-toolbox {
  background-color: transparent !important;
  background-image: linear-gradient(
    to top,
    hsla(280, 6%, 40%, 0.8) 0%,
    hsla(280, 6%, 40%, 0.6) 46%,
    hsla(280, 30%, 10%, 0.3) 46%,
    hsla(280, 30%, 10%, 0.3) 65%
  ) !important;
}

:root[lwthemetextcolor='dark'] #TabsToolbar,
:root[lwthemetextcolor='dark'] #titlebar,
:root[lwthemetextcolor='dark'] #tabbrowser-tabs,
:root[lwthemetextcolor='dark'] #navigator-toolbox-background {
  appearance: -moz-mac-vibrant-titlebar-light !important;
}

:root[lwthemetextcolor='bright'] #TabsToolbar,
:root[lwthemetextcolor='bright'] #titlebar,
:root[lwthemetextcolor='bright'] #tabbrowser-tabs,
:root:not([lwthemetextcolor='bright']) #navigator-toolbox-background {
  appearance: -moz-mac-vibrant-titlebar-dark !important;
}

:root:not([lwthemetextcolor='bright']) .tabbrowser-tab:not([selected='true']) {
  color: #000 !important;
}
