/* ========================================================================== */
/* SIDE BAR STYLES */

.sidebar-container {
  /* If you change display, change browser/base/content/browser-sidebar.js as well */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--toolbar-bgcolor);
}

.sidebar-icon-item {
  -moz-context-properties: fill;
  fill: currentColor;
  opacity: 0.8;
  width: 16px;
  height: 16px;
  padding: 14px 12px;
  color: var(--toolbarbutton-icon-fill);

  /* Stops the border from changing the box's size */
  margin: 0;
}

.sidebar-icon-item:hover {
  background-color: var(--sidebar-background-color);
}

.sidebar-icon-item[checked] {
  background-color: var(--lwt-sidebar-background-color);
  border-left: 3px solid currentColor;
}

#sidebar-icon-paint {
  background-image: url('chrome://global/skin/icons/paint.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 22px 22px;
  padding: 22px 12px;
}

#sidebar-icon-settings {
  background-image: url('chrome://global/skin/icons/settings.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px 16px;
  padding: 22px 12px;
}

#sidebar-box,
#sidebar-splitter {
  background-color: var(--lwt-sidebar-background-color) !important;
}
