#browser #TabsToolbar .titlebar-spacer,
#browser #TabsToolbar .titlebar-buttonbox-container,
#browser #TabsToolbar #alltabs-button {
  display: none;
}

#browser #TabsToolbar {
  background-color: -moz-Dialog;
  max-width: 350px;
}

#browser #TabsToolbar:-moz-lwtheme {
  background-image: var(--lwt-additional-images);
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: center;
  background-size: cover;

  background-color: var(--lwt-accent-color-inactive, var(--lwt-accent-color));
}

#browser #TabsToolbar .tabbrowser-tab {
  max-width: initial;
  width: 100%;
}

/* Put the new tab button on the bottom */
#browser #TabsToolbar #TabsToolbar-customization-target {
  -moz-box-orient: vertical;
}

/* Work around for tab closing animation whilst in vertical tabs. Without this
    the clean up code (created by 608589) will not work correctly */
/* TODO: This means the old tabs stick around for 3 seconds rather than
    disappearing instantly. Need to find the root cause of this */
#browser #TabsToolbar .tabbrowser-tab:not([pinned], [fadein]) {
  max-width: 0.1px;
}

#browser #TabsToolbar tab.tabbrowser-tab:nth-child(1) {
  margin-left: 0;
}

/* Border radius up at the top left of the browser when vertical tabs are enabled */
@media (-moz-gtk-csd-available) {
  :root[tabsintitlebar][sizemode='normal']:not([gtktiledwindow='true'])
    #navigator-toolbox-background[verticaltabs='true']
    #nav-bar {
    border-top-left-radius: env(-moz-gtk-csd-titlebar-radius);
    border-top-right-radius: env(-moz-gtk-csd-titlebar-radius);
  }
}

#navigator-toolbox-background:not([verticaltabs='true'])
  #nav-bar
  .titlebar-buttonbox-container {
  display: none;
}

/* This fixes some consistencies with which buttons should be visible */
#browser #tabbrowser-arrowscrollbox-periphery {
  display: none;
}

#browser #new-tab-button {
  display: inherit !important;
}
